 body {
      margin: 0;
      font-family: Arial, sans-serif;
      background-color: #111;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
    }

    .main{
    background: #ffffff;
      padding: 30px 50px;
      border-radius: 12px;
      text-align: center;
      box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
      color: rgb(255, 0, 0);
      width: 300px;
    }

    .bar{
        width: 0%;
      height: 25px;
      background: rgb(221, 0, 0);
       
    }


 